body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1%;
    background-color: rgb(8, 7, 18);
    color: #e6dfdf;
}
.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically  */
    width: 70%;
    height: 90%;
}

#div2 {
    margin: 2%;
}

#dropBox {
    border: 2px dashed #e6dfdf;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding-left: 15%;
    padding-right: 15%;
    transition: all 0.3s;
}

#output {
    margin: 2%;
}

#dropBox.over {
    background-color: rgb(119, 123, 125);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons button {
    background-color: rgb(8, 7, 18);
    color: #e6dfdf;
    border: 1px solid #e6dfdf;
    border-radius: 5px;
    margin: 1%;
    padding: 3px 7px;
    outline: none;
    font-size: 15px;
    transition: background-color 0.7s, transform 0.3s;
    cursor: pointer;
    white-space: nowrap;
}

.buttons button:hover {
    background-color: #e6dfdf;
    color: rgb(8, 7, 18);
    transform: translateY(-1.5px); /* Raise effect on hover */
}

.buttons button:active {
    background-color: rgb(8, 7, 18);
    color: #e6dfdf;
    transform: translateY(1px); /* Push effect on click */
}
